<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テンプレートフラグメント</title>
    <style th:fragment="sample_style">
      .contents {
        width: 80%;
        margin: 0 auto;
      }
      h2 {
        margin-top: 2em;
        border-bottom: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>テンプレートフラグメント</h1>
    <div th:fragment="sample_contents">
      <h2>fragment.html</h2>
      <p>これはフラグメントコンテンツです。</p>
      <p>サンプルメッセージ</p>
    </div>
  </body>
</html>
